body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #335;
}
body * {
  text-align: center;
}
#details {
  display: flex;
  justify-content: space-around;
  background-color: rgba(190, 19, 19, 0.925);
}
nav {
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: rgb(231, 77, 16);
}
#pp,
div p {
  color: #fff;
}
